.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 4rem;
  min-height: fit-content;
  
}

.btn-container {
 margin: 4rem auto;
}

.btn {
  margin: 1rem 0.5rem;
  padding: 0.6rem 0.9rem;
  width: 2.5rem;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: #8b509d;
}

@media only screen and (max-width: 920px) {
  .App {
    padding: 0rem 1rem;
  }
  .btn-container{
    width: 80%;
    margin: 1.5rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

}
